article,aside,details,figcaption,figure,footer,header,hgroup,nav,section,summary{display:block;}audio,canvas,video{display:inline-block;}audio:not([controls]){display:none;height:0;}[hidden]{display:none;}html{font-family:sans-serif;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;}a:focus{outline:thin dotted;}a:active,a:hover{outline:0;}h1{font-size:2em;}abbr[title]{border-bottom:1px dotted;}b,strong{font-weight:700;}dfn{font-style:italic;}mark{background:#ff0;color:#000;}code,kbd,pre,samp{font-family:monospace, serif;font-size:1em;}pre{white-space:pre-wrap;word-wrap:break-word;}q{quotes:\201C \201D \2018 \2019;}small{font-size:80%;}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline;}sup{top:-.5em;}sub{bottom:-.25em;}img{border:0;}svg:not(:root){overflow:hidden;}fieldset{border:1px solid silver;margin:0 2px;padding:.35em .625em .75em;}button,input,select,textarea{font-family:inherit;font-size:100%;margin:0;}button,input{line-height:normal;}button,html input[type=button],/* 1 */
input[type=reset],input[type=submit]{-webkit-appearance:button;cursor:pointer;}button[disabled],input[disabled]{cursor:default;}input[type=checkbox],input[type=radio]{box-sizing:border-box;padding:0;}input[type=search]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box;}input[type=search]::-webkit-search-cancel-button,input[type=search]::-webkit-search-decoration{-webkit-appearance:none;}textarea{overflow:auto;vertical-align:top;}table{border-collapse:collapse;border-spacing:0;}body,figure{margin:0;}legend,button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0;}

.clearfix:after {visibility: hidden; display: block; font-size: 0; content: " "; clear: both; height: 0; }

* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

/* global styles */
html {
    font-size: 125%
}

.skip-link {
    position: absolute;
    left: -1000px;
    top: 5px;
    z-index: 999;
    background: white;
    color: black;
}
  
.skip-link:focus {
    left: 0;
}

a {
    color: white;
    text-decoration: none;
    padding: 10px;
}

.articles a:focus {
    box-shadow: 0px 0px 5px 5px rgba(0,0,0,0.75);
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

p {
    font-size: 1rem;
    line-height: 1.5rem;
    font-family: 'Roboto', sans-serif;
}

.buttonLink {
    font-family: 'Cormorant Garamond', serif;
    color: #152d20;
    background: white;
    text-transform: uppercase;
    display: block;
    width: 160px;
    padding: 16px;
    margin-top: 5%;
    text-align: center;
}

.story .buttonLink:hover {
    background: rgba(255,255,255,0.3);
    color: white;
}

img {
    width: 100%;
    display: block;
}

/* header styles */
header {
    color: white;
    background: url(../images/tigerImage2x.jpg);
    background-size: cover;
    background-position: center center;
    height: 800px;
    max-height: 100vh;  
    position: relative;
}

header .wrapper {
    max-width: 1600px;
    width: 80%;
    margin: 0 auto;
}

nav {
    font-family: 'Cormorant Garamond', serif;
    text-transform: uppercase;
    padding-top: 24px;
    float: left;
    width: 100%;
}

nav .mobile {
    display: none;
    width: 0;
    height: 0;
}

nav li {
    float: left;
    padding-right: 15px;
    font-size: 1.1rem;
}

header h1 {
    float: right;
    font-family: 'Fredericka the Great', cursive;
    font-size: 6rem;
    text-transform: uppercase;
    width: 70%;
    text-align: right;
    margin-top: calc(10% - 50px);
    line-height: 0.98;
}

header .social {
    float: right;
    padding-right: 3%;
    padding-bottom: 45px;
    text-align: center;
    font-size: 1rem;
    position: absolute;
    bottom: 0;
    right: 0; 
}

.social li {
    margin-top: 5px;
    border-radius: 5px;
    line-height: 1.5rem;
}

nav a:hover, footer a:hover {
    color: khaki;
    text-decoration: underline;
}

.social a:hover {
    color: black;
    background-color: white;
    margin-top: 5px;
    border-radius: 5px;
    line-height: 1.5rem;
}

/* main styles */
main h2 { 
    font-family: 'Fredericka the Great', cursive;
    font-size: 2.55rem;
    text-transform: uppercase;
    margin: 0;
}

main .wrapper {
    width: 80%;
    margin: 0 auto;
    padding: 110px 0;
}

 /* story styles */
.story, .links {
    background: #152d20;
    color: white;
}

.story .imageHolder, .story .textBox {
    float: left;
}

.story .imageHolder {
    width: 350px;
    overflow: hidden;
}

.story .textBox {
    width: calc(100% - 350px);
    padding-left: 5%;
}

.story .buttonLink {
    margin-top: 0;
}

.story p {
    margin-top: 1%;
}

section.gallery {
    background: #c3d3cb;
}

/* gallery styles*/
.gallery img {
    margin: 0 1.25%;
    width: calc(33% - 2.5%);
    float: left;
}

.gallery h2 {
    text-align: center;
    width: 33%;
    margin:  0 auto 90px auto;
}

/* links styles */
.links .icon {
    width: calc(85% / 3);
    margin: 0 2.5%;
    float: left;
    text-align: center;
}

.icon a:hover {
    color: khaki;
    text-decoration: underline;
}

.links i {
    font-size: 3rem;
    padding-bottom: 10px;
}

.links .icon:nth-child(1) h2 {
    line-height: 100%;
}
.icon h2 {
    font-size: 2rem;
    font-family: 'Cormorant Garamond', serif;
    line-height: 200%;
}

/* articles */
.articles {
    color: #152d20;
}

.articles h2 {
    font-size: 1.75rem;
}

.articles p {
    line-height: 1.5rem;
}

.imageCollapse {
    display: none;
}

.articleBottom article, .articleTop article {
    width: 50%;
    padding: 6.25% 10% 6.25% 7%;
}
.articles .articleTop, .articles .articleBottom  {
    position: relative;
}
.articleBottom article {
    float: left;
}

.articleBottom article {
    float: right;
}

.articles .rightImage {
    background: url("../images/zebras@2x.jpg");
    background-size: auto 100%;
    background-position: center center;
    position: absolute;
    left: 50%;
    width: 50%;
    bottom: 0;
    top: 0;
}

.articles .leftImage {
    background: lightblue;
    background: url("../images/HumansAnimals@2x.jpg");
    background-size: auto 100%;
    background-position: center center;
    position: absolute;
    right: 50%;
    width: 50%;
    bottom: 0;
    top: 0;
}

.articles article:nth-child(4) {
    padding: 100px 7% 100px 10%;
}

.articles .textBox {
    background: #fff;
}

.articles .buttonLink {
    font-family: 'Cormorant Garamond', serif;
    background: #152d20;
    color: white;
    text-transform: uppercase;
    padding: 16px;
    margin: 10% auto 0 auto;
}

.buttonLink:hover {
    background: rgba(0,0,0,0.3);
    color: black;
}

/* footer styles*/
footer {
    clear: both;
    padding: 100px 0 100px 0;
    background: #152d20;
    color: white;
}

footer .wrapper {
    max-width: 1600px;
    width: 80%;
    margin: 0 auto;
}

 /* footer styles*/
footer ul, footer .textBox {
    float: left;
    width: 25%;
}

footer ul a {
    padding: 0;
}

footer form {
    float: left;
    width: 50%;
}

footer ul, footer h2 {
    font-family: 'Cormorant Garamond', serif;
    text-transform: uppercase;
}

footer ul {
    line-height: 1.5rem;
}

footer h2 {
    font-size: 1.25rem;
    margin-top: 0;
}

footer .textBox {
    text-align: right;
}

footer .textBox p {
    margin: 5px 0;
}

form {
    text-align: center;
}

input {
    font-size: 0.9rem;
    border: 0px;
    height: 40px;
    width: calc(100% - 160px);
    padding-left: 5%;
}

form .buttonForm {
    font-family: 'Cormorant Garamond', serif;
    color: white;
    background: black;
    text-transform: uppercase;
    display: inline-block;
    width: 160px;
    padding: 0;
}

form .buttonForm:hover {
    box-shadow: 0px 0px 2px 2px rgba(255,255,255,0.75);
}

form .buttonForm:active {
    box-shadow: 0px 0px 2px 5px rgba(255,255,255,0.75);
}

.copyright {
    color: white;
    background: black;
    text-align: center;
    font-size: 0.9rem;
    padding: 10px 0;
    margin: 0;
}

@media (max-width: 1250px) {

    /* story styles */
    .story .imageHolder {
        width: 100%;
        height: 320px;
        margin: 0 auto;
        float: none;
    }

    .story .imageHolder img {
        position: relative;
        top: -75%;
    }

    .story h2 {
        margin: 50px auto 20px auto;
        float: none;
        text-align: center;
    }

    .story .buttonLink {
        margin: 5% auto 0 auto;
    }

    .story .textBox {
        width: 100%;
        padding-left: 0;
    }

    /* footer styles */
    footer ul {
        margin-bottom: 40px;
        width: 80%;
        margin: 0 10% 40px 10%;
    }

    footer li {
        float: left;
        width: 21%;
        margin: 0 2%;
        text-align: center;
    }

    footer form {
        width: 70%;
        text-align: left;
    }

    footer .textBox {
        width: 30%;
    }

    footer form p {
        margin-bottom: 20px;
    }
    
    footer .textBox p {
    }

}

@media (max-width: 1000px) {

    /* header styles */
    header h1 {
        font-size: 4.3rem;
        margin-top: 10%;
    }

    /* gallery styles */
    .gallery h2 {
        font-size: 2rem;
        width: 100%;
        margin-bottom: 40px;
    }

    .story .imageHolder img {
        position: relative;
        top: -30%;
    }

    /* articles styles */
    .articles h2 {
        font-size: 1.5rem;
    } 

    /* footer styles */
    footer {
        padding: 50px 0;
    }
    footer ul {
        margin-bottom: 40px;
        width: 80%;
        margin: 0 10% 40px 10%;
    }

    footer li {
        float: left;
        width: 21%;
        font-size: 0.9rem;
        margin: 0 2%;
        text-align: center;
    }

    footer form {
        width: 70%;
        text-align: left;
    }

    footer .textBox {
        width: 30%;
    }

    footer form p {
        font-size: 0.8rem;
        margin-bottom: 20px;
    }
    
    footer .textBox p {
        font-size: 0.7rem;
    }

}

/* media queries */
@media (max-width: 850px) {
    
    /* header styles */
    header {
        height: 100vh;
        max-height: 700px;
        background-position: 40% 0; 
    }

    nav {
        width: 100%;
    }

    nav li {
        width: 25%;
        padding: 0;
        text-align: center;
    }

    header h1 {
        width: 80%;
        font-size: 3.5rem;
    }

    /* story styles */
    .story .imageHolder {
        width: 100%;
        max-height: 400px;
    }

    .story h2 {
        font-size: 1.9rem;
    }

    .story .textBox {
        padding: 0;
    }

    .story p {
        font-size: 0.9rem;
        line-height: 160%;
    }

    .story .textBox {
        width: 100%;
    }

    .buttonLink {
        margin-top: 50px;
    }

    /* gallery styles */
    .gallery h2 {
        font-size: 1.9rem;
    }

    .gallery img {
        width: calc(50% - 2%);
        margin: 0 1%;
    }

    .gallery .wrapper {
        width: 90%;
    }

    .gallery img:nth-last-child(1){
        border: 2px tomato solid;
        display: none;
    }

    /* links styles */
    .links .icon h2 {
        font-size: 1.35rem;
    }

    /* articles styles */
    .articles article {
        padding: 60px 10% 80px 10%;
    }

    .articles article, .articles .imageHolder {
        width: 100%;
        text-align: center;
    }

    .imageCollapse {
        display: block;
    }

    .leftImage, .rightImage {
        display: none;
    }

    .articles h2 {
        max-width: 80%;
        margin: 0 auto;
        font-size: 1.1rem;
    }

    /* footer styles */
    footer {
        padding: 40px 0;
    }

    footer .wrapper {
        width: 80%;
        text-align: center;
    }

    footer form, footer .textBox {
        width: 100%;
        text-align: center;
    }

    footer li {
        display: inline-block;
        font-size: 0.9rem;
        margin: 0 2%;
        text-align: center;
    }

    footer p, footer h2 {
        text-align: center;
    }

    footer form input:nth-of-type(1) {
        margin-bottom: 10px;
    }

    footer .textBox {
        padding: 40px 0;
    }

    .copyright {
        font-size: 0.7rem;
    }

}

@media (max-width: 600px) {
    /* global stlyes */
    a {
        font-size: 0.9rem;
    }

    p { 
        font-size: 0.9rem;
    }

    /* header styles */
    nav .mobile {
        width: auto;
        display: block;
        font-size: 2rem;
        float: right;
        min-width: auto;
        padding-top: 2.5%;
    }

    header .wrapper {
        width: 88.5%;
    }
    header {
        height: 100vh;
        max-height: 600px;
        background-position: 30% 0; 
    }

    header .social {
        display: none;
    }

    nav ul {
        display: none;
    }

    header h1 {
        float: left;
        font-family: 'Fredericka the Great', cursive;
        font-size: 1.5rem;
        text-align: left;
        margin-top: 0;
        width: 50%;
    }

    /* main styles */
    main .wrapper {
        padding: 50px 0;
    }

    /* story styles */
    .story .wrapper {
        width: 90%;
    }

    .story .imageHolder {
        max-height: 300px;
    }

    .story .imageHolder img {
        position: relative;
        top: -10%;
    }

    /* links styles */
    .links .icon {
        width: 100%;
    }

    .links .icon {
        margin: 50px 0 0 0;
    }

    .links .icon:nth-of-type(1) {
        margin-top: 0;
    }

    .icon a {
        padding: 0;
    }

    /* articles styles */
    .articles article {
        padding: 40px 5% 50px 5%;
    }
    
    .articles p {
        font-size: 0.9rem;
    }

    /* footer styles */
    footer .wrapper {
        width: 90%;
    }

    footer input, form .buttonForm {
        width: 100%;
        text-align: center;
    }

}