article,aside,details,figcaption,figure,footer,header,hgroup,nav,section,summary{display:block;}audio,canvas,video{display:inline-block;}audio:not([controls]){display:none;height:0;}[hidden]{display:none;}html{font-family:sans-serif;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;}a:focus{outline:thin dotted;}a:active,a:hover{outline:0;}h1{font-size:2em;}abbr[title]{border-bottom:1px dotted;}b,strong{font-weight:700;}dfn{font-style:italic;}mark{background:#ff0;color:#000;}code,kbd,pre,samp{font-family:monospace, serif;font-size:1em;}pre{white-space:pre-wrap;word-wrap:break-word;}q{quotes:\201C \201D \2018 \2019;}small{font-size:80%;}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline;}sup{top:-.5em;}sub{bottom:-.25em;}img{border:0;}svg:not(:root){overflow:hidden;}fieldset{border:1px solid silver;margin:0 2px;padding:.35em .625em .75em;}button,input,select,textarea{font-family:inherit;font-size:100%;margin:0;}button,input{line-height:normal;}button,html input[type=button],/* 1 */
input[type=reset],input[type=submit]{-webkit-appearance:button;cursor:pointer;}button[disabled],input[disabled]{cursor:default;}input[type=checkbox],input[type=radio]{box-sizing:border-box;padding:0;}input[type=search]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box;}input[type=search]::-webkit-search-cancel-button,input[type=search]::-webkit-search-decoration{-webkit-appearance:none;}textarea{overflow:auto;vertical-align:top;}table{border-collapse:collapse;border-spacing:0;}body,figure{margin:0;}legend,button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0;}

.clearfix:after {visibility: hidden; display: block; font-size: 0; content: " "; clear: both; height: 0; }

* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

/* Global styles */
html {
    font-size: 125%
}

a {
    color: white;
    text-decoration: none;
    padding: 10px;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

p {
    font-size: 1rem;
    line-height: 1.5rem;
    font-family: 'Roboto', sans-serif;
    /* margin-bottom: 5%; */
}

.buttonLink {
    font-family: 'Cormorant Garamond', serif;
    color: #152d20;
    background: white;
    text-transform: uppercase;
    display: block;
    width: 160px;
    padding: 16px;
    margin-top: 5%;
    text-align: center;

}

img {
    width: 100%;
    display: block;
}

/* Header css */

header {
    color: white;
    background: url(../images/tigerImage.jpg);
    background-size: cover;
    background-position: center center;
    /* height: 100vh; */
    height: 800px;
    max-height: 100vh;  
    position: relative;
}

header .wrapper {
    max-width: 1600px;
    width: 80%;
    margin: 0 auto;
}

nav {
    font-family: 'Cormorant Garamond', serif;
    text-transform: uppercase;
    padding-top: 24px;
    float: left;
    /* min-width: 650px; */
    width: 100%;
}

nav.mobile {
    display: none;
    width: 0;
    height: 0;
}

nav li {
    float: left;
    padding-right: 15px;
    font-size: 1.1rem;
}

header h1 {
    float: right;
    font-family: 'Fredericka the Great', cursive;
    font-size: 6rem;
    text-transform: uppercase;
    width: 70%;
    text-align: right;
    margin-top: calc(15% - 50px);
    line-height: 0.98;
}

header .social {
    float: right;
    padding-right: 3%;
    padding-bottom: 45px;
    text-align: center;
    font-size: 1rem;
    position: absolute;
    bottom: 0;
    right: 0; 
}

.social li {
    margin-top: 10px;
}


/* Main css */
main h2 { 
    font-family: 'Fredericka the Great', cursive;
    font-size: 2.55rem;
    text-transform: uppercase;
    margin: 0;
}

main .wrapper {
    width: 80%;
    margin: 0 auto;
    padding: 110px 0;
}

 /* Story */
.story, .links {
    background: #152d20;
    color: white;
}

.story .imageHolder, .story .textBox {
    float: left;
}

.story .imageHolder {
    /* width: 25%; */
    width: 350px;
    overflow: hidden;
    /* min-width: 315px; */
}

.story .textBox {
    width: calc(100% - 350px);
    padding-left: 5%;
}

.story .buttonLink {
    margin-top: 0;
}

.story p {
    margin-top: 1%;
}

section.gallery {
    background: #c3d3cb;
}

/* Gallery */
.gallery img {
    margin: 0 1.25%;
    width: calc(33% - 2.5%);
    float: left;
}

.gallery h2 {
    text-align: center;
    /* margin-bottom: 90px; */
    width: 33%;
    margin:  0 auto 90px auto;
}

/* Links */
.links .icon {
    width: calc(85% / 3);
    margin: 0 2.5%;
    float: left;
    text-align: center;
}

.links i {
    font-size: 3rem;
    padding-bottom: 10px;
}

.links .icon:nth-child(1) h2 {
    line-height: 100%;
}
.icon h2 {
    font-size: 2rem;
    font-family: 'Cormorant Garamond', serif;
    line-height: 200%;
}

/* Articles */
.articles {
    color: #152d20;
}

.articles h2 {
    font-size: 1.75rem;
}

.articles p {
    line-height: 1.5rem;
}

.imageCollapse {
    display: none;
}

.articleBottom article, .articleTop article {
    width: 50%;
    padding: 6.25% 10% 6.25% 7%;
}
.articles .articleTop, .articles .articleBottom  {
    position: relative;
}
.articleBottom article {
    float: left;
}

.articleBottom article {
    float: right;
}

.articles .rightImage {
    background: url("../images/zebras.jpg");
    background-size: auto 100%;
    background-position: center center;
    position: absolute;
    left: 50%;
    width: 50%;
    bottom: 0;
    top: 0;
}

.articles .leftImage {
    background: lightblue;
    background: url("../images/HumansAnimals.jpg");
    background-size: auto 100%;
    background-position: center center;
    position: absolute;
    right: 50%;
    width: 50%;
    bottom: 0;
    top: 0;
}

.articles article:nth-child(4) {
    padding: 100px 7% 100px 10%;
}

.articles .textBox {
    background: #fff;
}

.articles .buttonLink {
    font-family: 'Cormorant Garamond', serif;
    background: #152d20;
    color: white;
    text-transform: uppercase;
    padding: 16px;
    margin: 10% auto 0 auto;
}

/* Footer */
footer {
    clear: both;
    padding: 100px 0 100px 0;
    background: #152d20;
    color: white;
}

footer .wrapper {
    max-width: 1600px;
    width: 80%;
    margin: 0 auto;
}

 /* Footer */
footer ul, footer .textBox {
    float: left;
    width: 25%;
}


footer form {
    float: left;
    width: 50%;
}

footer ul, footer h2 {
    font-family: 'Cormorant Garamond', serif;
    text-transform: uppercase;
}

footer ul {
    line-height: 1.5rem;
}

footer h2 {
    font-size: 1.25rem;
    margin-top: 0;
}

footer p {
    /* margin: 10px 0 0 0; */
}

footer .textBox {
    text-align: right;
}

footer .textBox p {
    margin: 5px 0;
}

form {
    text-align: center;
}

input {
    font-size: 0.9rem;
    border: 0px;
    height: 40px;
    width: calc(100% - 160px);
    padding-left: 5%;
}

form .buttonForm {
    font-family: 'Cormorant Garamond', serif;
    color: white;
    background: black;
    text-transform: uppercase;
    display: inline-block;
    width: 160px;
    padding: 0;
}

.copyright {
    color: white;
    background: black;
    text-align: center;
    font-size: 0.9rem;
    padding: 10px 0;
    margin: 0;
}
